main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.frogcolor {
    background-color: green;
}
.jumping {
    background-color: yellow;
    grid-row: 2;
    grid-column: 2;
}
.eating {
    background-color: brown;
    grid-row: 1;
    grid-column: 2/4;
}
.jumping div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
body {
    font-family: 'Quesha-gndR';
}
.yes {
    display: block;
    margin: 0 auto;
}

@font-face {
    font-family: "Quesha-gndR";
    src: url('Quesha-gndR.ttf');
}
div {
    font-family: 'Michroma', sans-serif;
}