body {
    background-color: #737373;
}

.circle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.images {
    max-width:200px;
    border-radius: 100%;
    border: 10px solid #343535;
    margin: auto;
}

.main_image {
    max-width: 100%;
    padding: 0 0 50px 0;
}