body {
    background-color: palevioletred;
}

.list {
    font-weight: bold;
    color: black;
    width: 33%;
    margin: 0 33% 0 33%;
}

header h1 {
    padding: 0 0 30px 0;
}

header {
    color: white;
    text-align: center;
    margin: 0 33% 0 33%;
}

h1:hover {
    color: black;
}

img {
    width: 15%;
    display: block;
    margin: 0 auto;
}

.quote {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin: 0 40% 0 40%;
}

footer {
    text-align: center;
    margin: 0 38% 0 38%;
}



