section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.button {
    background-color: orange;
    display: inline-block;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding: 15px 18px;
    text-align: center;
    width: 150px;
}
.button-text {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}
.img {
    grid-column: 1/2;
    width: 100%;
    padding: 0 50px;
}
.text {
    text-align: center;
}
#right-side {
    width: 500px;
    padding-left: 50px;
    margin: 0 auto;
}
.email, .name{
    padding: 15px;
    display: block;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: lightgrey;
    border-width: 1px;
}
.check-box {
    margin: 10px;
}
