@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alegreya&family=Alegreya+SC&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    font-family: Alegreya SC, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 80px;
    background-color: none;
}
#logo-link{
    grid-column: 1/5;
    justify-self: center;
    margin: auto;
    text-decoration: none;
    color: black;
    z-index: 5;
}
nav {
    grid-column: 6/12;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    color: black;
    z-index: 5;
    text-decoration: none;
    align-self: center;
    
}
nav a {
    color: black;
    text-decoration: none;
    align-self: center;
}
nav a:hover {
    color: #6C757D;
}
#main-img {
    width: 100%;
    margin-top: -335px;
    z-index: -1;
    grid-column: 1/13;
    grid-row: 1/7;
    }
#main-box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#main-box h4 {
    font-family: Abel;
}
.main img {
    width: 100%;
}
img {
    max-width: 100%;
    
}
.main-message {
    width: 500px;
    grid-column: 2/5;
    grid-row: 1/4;

}
.learn-more {
    background-color: #6C757D;
    padding: 10px 15px;
    border-radius: 3px;
}
.home-grids h1 {
    text-align: center;
}
.home-grids h6 {
    text-align: center;
}

/* Styles for Benefits list */
.box1, .box2, .box3, .box4, .box5, .box6 {
    width: 100%;
    height: 100%;
    background-color: none;
    text-align: center;
}
.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 200px 50px;
}
.boxes p {
    font-family: Abel;
}
.box1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.box3 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.box4 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.box5 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.box6 {
    grid-column: 3/4;
    grid-row: 3/4;
}
.box1 p, .box2 p, .box3 p, .box4 p, .box5 p, .box6 p{
    /* width: 400px; */
    padding: 0px 30px;
}
.underline {
    background-color: black;
    width: 150px;
    height: 1px;
    margin: 0 auto;
}
/* Mission Statement */
#mission-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.steps {
    grid-column: 2/7;
    grid-row: 2/7;
}
.mission-background {
    background-color: #ADB5BD;
    grid-column: 1/13;
    grid-row: 1/9;
}
.mission-box-1 {
    background-color: #6C757D;
    grid-column: 3/5;
    grid-row: 5/8;
    z-index: 15;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 10px 0px black;
    transform: .5s;
}
.mission-box-1:hover {
    transform: scale(1.1);
}
.mission-box-2 {
    background-color: #6C757D;
    grid-column: 6/8;
    grid-row: 5/8;
    z-index: 15;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 10px 0px black;
    transform: .5s;
}
.mission-box-2:hover {
    transform: scale(1.1);
}
.mission-box-3 {
    background-color: #6C757D;
    grid-column: 9/11;
    grid-row: 5/8;
    z-index: 15;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 10px 0px black;
    padding: 5px;
    transform: .5s;
}
.mission-box-3:hover {
    transform: scale(1.1);
}
#mission-grid p {
    font-size: 15px;
}
.small-underline {
    width: 100px;
    height: 1px;
    background-color: white;
    margin: 0 auto;
}
.mission-header {
    color: white;
    grid-column: 8/12;
    grid-row: 2/4;
    text-align: center;
}
/* .mission-box-1 p, .mission-box-2 p, .mission-box-3 p {
    /* font-family: Abel;
} */

/* Footer */
footer {
    background-color: #6C757D;
    text-align: center;
}
/* logo */
.footer-logo {
    padding-top: 35px;
}
.footer-logo a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
/* Pages */
.footer-middle a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
    font-size: 15px;
    font-family: Abel;
}
/* social links */
.footer-bottom {
    padding-top: 5px;
    padding-bottom: 35px;
}
.footer-bottom a {
    width: 10px;
    text-decoration: none;
}
.ig-icon img, .fb-icon img{
    width: 20px;
}

/* Profiles */
.shamie-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.oscar-photo {
    border-radius: 50%;
}
#coach-info {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 200px 100px 200px 80px;
    margin-top: 75px;
}
.oscar {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 250px;
    height: 250px;
    margin: auto 0;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px grey;
}
.shamie {
    grid-column: 4/5;
    grid-row: 3/4;
    width: 250px;
    height: 250px;
    margin: auto auto;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px grey;
}
.oscar-section {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: none;
    margin: auto 0;
}
.shamie-section {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: none;
    margin: auto 0;
}
.shamie-section h4, .shamie-section h5 {
    line-height: 1px;;
}
.oscar-section h4, .oscar-section h5 {
    line-height: 1px;;
}
.shamie-section p {
    font-size: 18px;
    font-family: Abel;
}
.oscar-section p {
    font-size: 18px;
    font-family: Abel;
}
.underline-coaches {
    grid-column: 2/5;
    grid-row: 2/3;
    background-color: black;
    height: 1px;
    margin-top: 80px;
}
.underline-team {
    background-color: black;
    width: 500px;
    height: 1px;
    margin: 0 auto;
}
.coaches-learn-button {
    background-color: #ADB5BD;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 0px grey;
    text-decoration: none;
    color: black;
    font-family: Abel;

}
.coaches-learn-button:hover {
    background-color: #6C757D;
}
/* About Us Main Image */
#mtn-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 125px;
}
.mtn-grid {
    grid-column: 2/3;
    grid-row: 1;
}
.about-message {
    grid-column: 1/2;
    grid-row: 1;
    padding-left: 80px;
    margin-top: 140px;
}
/* Grid for About us and Goals */
#about-us-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px 40px 350px;
}
/* About Us What we do */
.desk-img {
    grid-column: 2/7;
    grid-row: 2/6;
}
.what-do {
   grid-column: 8/12;
   grid-row: 2/6; 
}
.what-do p {
    font-size: 18px;
    color: white;
    font-family: Abel;
}
.what-do h1 {
    color: white;
}
.desk-background {
    grid-column: 1/13;
    grid-row: 1/8;
    z-index: -1;
    background-color: #6C757D;
}
.small-box {
    grid-column: 1/13;
    display: inline-block;
    text-align: center;
    margin: auto auto;
    width: 100%;
}
/* .small-box h2 {
    text-decoration: underline;
} */
.left-goals {
    grid-column: 2/7;
    grid-row: 10/11;
    border-right: 1px solid black;
    line-height: 2em;
}
.right-goals {
    grid-column: 8/12;
    grid-row: 10/11;
    line-height: 2em;
}
.right-goals li, .left-goals li {
    font-size: 18px;
    font-family: Abel;
}
/* Section 4 of About US */
#section_4 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px; */
    grid-template-rows: repeat(8, 1fr);

}
.section-4-background {
    background-color: #ADB5BD;
    grid-column: 1/13;
    grid-row: 1/9;
}
.section-4-img {
    grid-column: 2/8;
    grid-row: 2/8;
}
.section-4-textbox {
    grid-column: 6/12;
    grid-row: 3/7;
    background-color: #6C757D;
    box-shadow: 0px 0px 10px #6C757D;
}
.section-4-textbox h2 {
    text-align: center;
    padding: 0px 30px 0 30px;
    font-size: 30px;
    color: white;
}
.section-4-textbox p {
    text-align: center;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 0px 30px 0px 30px;
    color: white;
    font-family: Abel;
}
.apt-button{
    text-align: center;
}
.page2-apt-button {
    text-decoration: none;
    color: white;
    background-color: #6C757D;
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px silver;
    font-family: Abel;
}
.page2-apt-button:hover {
    background-color: #ADB5BD;
    color: black;
}

/*



COACHES PAGE

Main grids*/

#oscar-grid {
    display: grid;
    grid-template-columns: 30px repeat(12, 1fr) 30px;
}
.coaches-header {
    grid-column: 2/14;
    text-align: center;
}
#shamie-grid {
    display: grid;
    grid-template-columns: 30px repeat(12, 1fr) 30px;
}
.contacts a {
    text-decoration: none;
    font-family: Abel;
    color: black;
    font-size: 15px;
}
.contacts a:hover {
    color: #ADB5BD;
}
.contact-info h5 {
    font-family: Abel;
}

/* Oscar Section */
.oscar-profile-photo {
    grid-column: 2/5;
}
.contact-info {
    grid-column: 6/14;
    margin: auto 0;
}
.oscar-about-me {
    width: 50%;
    padding: 0 50px;
    border-right: 1px solid black;
}
.oscar-unknown {
    width: 50%;
    padding: 0 50px;
}
.oscar-split {
    display: flex;
}
.contact-info h3, .contact-info h5, .contact-info a {
    margin: 0;
    align-items: bottom;
}

.coaches-divider {
    width: 1000px;
    height: 1px;
    background-color: black;
    margin: 30px auto;
    
}

/* Shamie Section */
.shamie-profile-photo {
    grid-column: 2/5;
}
.contact-info {
    grid-column: 6/14;
}
.shamie-split {
    display: flex;
}
.shamie-about-me {
    width: 50%;
    padding: 0 50px;
    border-right: 1px solid black;
    margin-bottom: 20px;
}
.shamie-unknown {
    width: 50%;
    padding: 0 50px;
    margin-bottom: 20px;
}
.profile-img {
    width: 300px;
    height: auto;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px grey;
}